.jGBdZt03cd3ZQ8219g1H {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: inline-block;
  text-align: left;
}
.jGBdZt03cd3ZQ8219g1H .UxDClUhbr_7SRUXB1yRn {
  margin-bottom: 4px;
  display: block;
}
.jGBdZt03cd3ZQ8219g1H .iwB0mHAJVOijisrtiwYG {
  width: 100%;
}

.q8WGokImfg1tdc4oOd_F {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: inline-block;
  text-align: left;
  max-width: 500px;
}
.q8WGokImfg1tdc4oOd_F .k1_IJut2WXA2d88bdSI5 .ant-steps-item-content {
  min-height: 36px !important;
}

