.jGBdZt03cd3ZQ8219g1H {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: inline-block;
  text-align: left;
}
.jGBdZt03cd3ZQ8219g1H .UxDClUhbr_7SRUXB1yRn {
  margin-bottom: 4px;
  display: block;
}

